@font-face {
 font-family: "PT Sans";   
 font-style: normal;
 font-weight: 400;
 src: url("fonts/ptsans-400.wolf2") format(wolf2); 
 font-display: swap;
}
@font-face {
    font-family: "PT Sans";   
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.wolf2") format(wolf2); 
    font-display: swap;
   }
   @font-face {
    font-family: "PT Sans";   
    font-style: italic;
    font-weight: 400;
    src: url("fonts/ptsans-italic.wolf2") format(wolf2); 
    font-display: swap;
   }
   body {
    font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  
  

   }
   .button{
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color:#756157;
    text-decoration: none;
    text-transform: uppercase;
   }
   .paige-header {
    color:#000000;

   }
.navigation-link{
  color: #000000;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
}
.main-index {
  background-image: url("index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main-title {

  font-weight 700px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.advantages {
  font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
}
.advantages-item{
  background-color: #82B3D3;
  color: #FFFFFF;
}

.services{
  background-color: #FFFFFF;
  color: #000000;
}
.blue{
  background-color:rgba(131, 179, 211, 0.12);
}
.blue:nth-child(2){
  background-color: #FFFFFF;
}
.advantages-item:nth-child(3),
.advantages-item:last-child{
  background-color:rgba(131, 179, 211, 0.12);
color: #000000;
}
.advantages-item:nth-child(4){
  background-color:rgba(131, 179, 211, 0.2);
  color: #000000;
}




.advantages-item-title {

 font-weight: 700;
 font-size: 24px;
 line-height: 28px;
 text-align: center;
 vertical-align: top;
 text-transform:uppercase;
}
.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  vertical-align: top;

}
.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  vertical-align: top;
  text-transform:uppercase;

}
.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  vertical-align: top;
}

.booking {
  background-color:#FFFFFF ;
}
.booking-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align:center;
  vertical-align: top;
   text-transform:uppercase;
}
.booking-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align:center;
  vertical-align: top;

}
.newsletter-main {
  background-image: url(background-blur.jpg) ;
}
.page-footer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align:center;
  vertical-align: top;
  text-transform:uppercase;
  
}
.page-footer-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align:center;
  vertical-align: top;
}
.footer-contacts-address-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height:40px;
  text-align:center;
  vertical-align: top;
  text-decoration: none;

}